<h4 class="pad-side">You may configure the test module here. This plugin just shows how to set-up a basic AngularJS
  plugin for this application. Fields below are saved safely and can also be encrypted.
  Field values are handled internally, all you should do is make sure to register your app and save the secret key, this
  way your app has access to it's own values.</h4>
<br>
<!--On submit this will be changed with a new field and the old field will be saved.-->
<input type="text" class="form-control pad-side marg-side-2-percent" placeholder="What is your name?">
