/*
    The Main app CSS stylesheet.
*/

.web-panel-editor > .panel-heading{
    opacity: 0.5;
    transition:  all 250ms;
}
.web-panel-editor:hover > .panel-heading{
    opacity: 1;
    transition:  all 250ms;
}
.pad-side{
    padding: 0 10px 0 10px;
}
.marg-side-2-percent{
    width: 96%;
    margin: 0 2% 0 2%;
}
.pointer:hover {
    cursor: pointer;
}