<div id="pageEditor">
  <div ng-sortable="{handle: '.glyphicon-move', scroll: true, animation: 250}">
    <div class="panel panel-primary web-panel-editor" ng-repeat="pageModule in pageModules[currentPage.page_id]">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-move pull-left pad-side pointer" aria-hidden="true"></span>
          {{pageModule.moduleName}}
                    <span>
                        <span ng-click="deleteModule(pageModule.moduleName);"
                              class="glyphicon glyphicon-remove pull-right pad-side pointer" aria-hidden="true"></span>
                        <span ng-show="module_editing.indexOf(pageModule.moduleName) != -1"
                              ng-click="saveModule(pageModule.moduleName);"
                              class="glyphicon glyphicon-ok pull-right pad-side pointer" aria-hidden="true"></span>
                        <span ng-show="module_editing.indexOf(pageModule.moduleName) == -1"
                              ng-click="editModule(pageModule.moduleName);"
                              class="glyphicon glyphicon-pencil pull-right pad-side pointer" aria-hidden="true"></span>
                    </span>
        </h3>
      </div>
      <module-edit module-id="{{pageModule.moduleName}}" class="panel-body"
                   ui-view="{{pageModule.moduleName + '_module_edit'}}">
      </module-edit>
    </div>
  </div>

</div>
