<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
          Pages
          <span class="glyphicon glyphicon-plus pull-right pointer" aria-hidden="true"></span>
        </div>
        <ul class="list-group">
          <button class="list-group-item" ng-repeat="page in pages" ng-click="changePage(page.page_id)">
            {{page.pageTitle}}
          </button>
        </ul>
      </div>
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">
          Modules
          <span class="glyphicon glyphicon-plus pull-right pointer" aria-hidden="true"></span>
        </div>
        <ul class="list-group">
          <button class="list-group-item" ng-repeat="module in allModules">
            {{module.moduleName}}
          </button>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <h2>Editing {{currentPage.pageTitle}}</h2>
      <hr>
      <!--<div class="panel-body" ui-view="pageEditor">-->
      <!--</div>-->
      <div class="panel-body">
        <div ui-view></div>
      </div>
    </div>

  </div>
</div>
